@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.contentLayout {
  display: flex;
}

.cotnentPage {
  padding: 24px;
  flex-grow: 1;
}