.title {
  color: (--primary-color)
}

.text {
  color: (--secondary-color)
}

.error {
  .title {
    color: var(--error-red-light-color);
  }

  .text {
    color: var(--error-red-dark-color);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.m {
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
  }
}

.l {
  .title {
    font: var(--font-xl);
  }

  .text {
    font: var(--font-l);
  }

}