.articleDetails {
  height: 100%;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.avatar {
  margin: 0 auto;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
}

.articleInfo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.skeletonInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}