# OSX
.DS_Store

# vscode
.vscode/

# node.js
node_modules/
npm-debug.log
yarn-error.log

# build
/build
*.jsbundle

# storybook
/storybook-static

# tests
/reports

#file temlpates
/.fttemplates

#other
*.mdx

