.articleDetailsPage {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.recommendationsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.recommendations {
  flex-wrap: nowrap !important;
  overflow: auto hidden;
}