.sidebar {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  transition: width 0.3s;
}

.switchers {
  display: flex;
  gap: 16px;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 20px;
}

.navigateItems {
  display: flex;
  margin-top: 16px;
  margin-left: 16px;
  flex-direction: column;
  gap: 8px;
}

.collapsed {
  width: var(--collapsed-sidebar-width);

  .switchers {
    flex-direction: column;
    gap: 8px;
  }
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 26px;
}