.link {
  width: fit-content;
}

.navigateIcon {
  fill: var(--inverted-primary-color);
}

.linkText {
  opacity: 1;
}

.collapsed {
  .linkText {
    opacity: 0;
    transition: opacity 0.3s;
    width: 0;
  }
}