.articleList {
  display: flex;

  &.grid {
    flex-wrap: wrap;
    gap: 32px;
  }

  &.list {
    flex-direction: column;
    gap: 24px;
  }
}

.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}