.dropdown {
  position: relative;
}

.dropdownItems {
  display: flex;
  flex-direction: column;
  background-color: var(--popup-bg);
  position: absolute;
  z-index: var(--select-z-index);
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  // width: fit-content;
}

.dropdownItem {
  padding: 8px;
  width: 100%;
  border: none;
  background: none;
  outline-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
  text-align: left;
}
