.card {
  width: fit-content;
}

.grid {
  width: 230px;
  transition: .2s;
  cursor: pointer;

  .imageWrapper {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .createdAt {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    opacity: 0.9;
    transform: scale(1.01);

    .createdAt {
      display: block;
    }
  }

  .infoWrapper {
    margin-top: 8px;
  }

  .types p {
    width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title p {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.list {
  .types p {
    width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }

  .textBlock {
    max-height: 200px;
    overflow-y: hidden;
  }
}