.drawer {
  display: flex;
  align-items: flex-end;
  position: fixed;
  inset: 0;
  opacity: 0;
  z-index: var(--overlay-z-index);
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);
}

.sheet {
  position: fixed;
  left: 2vw;
  height: calc(100vh + 100px);
  width: 96vw;
  border-radius: 12px 12px 0;
  background-color: var(--bg-color);
  touch-action: none;
  padding: 16px;
  z-index: var(--modal-z-index);
}
