.navbar {
  display: flex;
  height: var(--navbar-height);
  padding: 8px 16px;
  align-items: center;
  background-color: var(--inverted-bg-color);
}

.links {
  display: flex;
  gap: 16px;
  margin-left: auto;
}