.profileCard {
  padding: 8px 16px;
  border: 2px solid var(--inverted-bg-color);
}

.avatar {
  align-self: center;
  width: 100%;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.isEdit {
  border: 2px solid var(--inverted-primary-color)
}